<!-- Web Title -->
<h1>Juan Pablo Ordonez Gomez</h1>
<hr>
<!-- Header Toolbar -->
<mat-toolbar>
    
    <mat-toolbar-row class="toolbar-row">

        <div class="toolbar-left">

            <a class="nav-link" href="#skills">{{Skills()}}</a>
            <a class="nav-link" href="#projects">{{Projects()}}</a>
            <a class="nav-link" href="#contact">{{Contact()}}</a>

        </div>

        <div class="toolbar-right">

            <img src="/img/theme.png" (click)="toggleTheme()" title="Theme" class="theme-button">
            <a href="/en"><img src="/img/canadian.png"  title="English" id="languages" ></a>
            <a href="/sp"><img src="/img/colombian.png" id="languages" title="Español"></a> 

        </div>

    </mat-toolbar-row>
    
</mat-toolbar>

<!-- Profile Image and Introduction -->
<section>
    
    <!-- Img of Me -->
    <img src="/img/me.jpg" id="me">

    <!-- Introduction Text -->
    <article >

        <p>{{text1()}}<strong>Juan Ordonez</strong></p>
        <p>{{text2()}}<strong><a href="https://www.sheridancollege.ca/">Sheridan College</a></strong>{{text3()}}</p>
        <p>{{text4()}}</p>

        <!-- PDF link and Woorking status -->
        <div class="buttons-info">

            <button id="resume" (click)="downloadResume()">{{Resume()}}</button>
            <a href="#contact"><button id="available">{{Available()}}</button></a>

        </div>
            

    </article>

</section>
