<!-- Projects Section -->
<mat-card class="projects-section">

    <!-- Projects Section Title -->
    <mat-card-title>Projects</mat-card-title>

    <!-- Projects Section Content -->
    <mat-card-content class="general-content">

        <!-- Finished Projects -->
        <mat-card class="finished-projects">

            <!-- Finished Projects Header -->
            <mat-card-header>Finished Projects</mat-card-header>

            <!-- Finished Projects Content -->
            <mat-card-content>

                <!-- Finished Projects Cards -->
                <mat-card *ngFor="let finishedProject of FinishedProjects;" class="project-card">

                            <!-- Finished Project Image and Name -->
                        <mat-card-content (click)="redirectToWebSite(true, finishedProject.id)">
                            
                            <img mat-card-img src="{{finishedProject.img}}" class="project-image">
                            <p class="project-name">{{finishedProject.name}}</p>
                            <span *ngIf="isSmallScreen == false">

                                <p class="project-description">{{finishedProject.description}}</p>

                            </span>

                        </mat-card-content>
                        <!-- Finished Project Description and technologies -->
                        <mat-card-footer>

                            <span class="project-footer">

                                <img *ngFor="let technology of finishedProject.technologies" src="{{technology.img}}" class="technology-icon">

                            </span>
                            <a href="{{finishedProject.links[0].url}}"><img src="/img/github.png" class="project-links"></a>

                        </mat-card-footer>
            
                </mat-card>
            
            </mat-card-content>

        </mat-card>

        <br><br>

        <!-- Card For Working Projects -->
        <mat-card class="working-projects">

            <!-- Working Projects Header -->
            <mat-card-header>Working Projects</mat-card-header>

            <!-- Working Projects Content -->
            <mat-card-content>

                <!-- Working Projects Cards -->
                <mat-card *ngFor="let workingProject of WorkingProjects;" class="project-card">

                        <mat-card-content (click)="redirectToWebSite(false, workingProject.id)">

                            <img mat-card-img src="{{workingProject.img}}" class="project-image">
                            <p class="project-name">{{workingProject.name}}</p>
                            <span *ngIf="isSmallScreen == false">

                                    <p class="project-description">{{workingProject.description}}</p>

                            </span>

                        </mat-card-content>

                        <!-- Working Project Description and technologies -->
                        <mat-card-footer>

                            <span class="project-footer">

                                <img *ngFor="let technology of workingProject.technologies" src="{{technology.img}}" class="technology-icon">

                            </span>
                            <a href="{{workingProject.links[0].url}}"><img src="/img/github.png" class="project-links"></a>

                        </mat-card-footer>
                    
                </mat-card>
            
            </mat-card-content>

        </mat-card>  

    </mat-card-content>                

</mat-card> 