*{
    color: var(--color);
}

.projects-section{
    padding: 32px 25px;
    margin: 0 16px;
    border-radius: 12px;

}

.projects-section > mat-card-title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
    border-radius: 12px;

}

.finished-projects, .working-projects{
    border: 3px solid var(--primary-color);
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: 12px;

}

.finished-projects > mat-card-header, .working-projects > mat-card-header{
    font-size: 20px;
    font-weight: bold;
    padding-left: 22px;
    padding-top: 30px;
    border-radius: 12px;

}

.finished-projects > mat-card-content, .working-projects > mat-card-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 16px;
    align-items: center;
    gap: 35px;
    margin-bottom: 10px;
    border-radius: 12px;

}

.project-card{
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 550px;
    max-width: 550px;
    height: 550px;
    box-shadow: 0 1px 4px var(--shadow-color);
    transition: transform 0.2s ease-in-out;
    flex: 1 1 120px;
    border-radius: 12px;

}

.project-card > mat-card-content{
    cursor: pointer;
}

img[mat-card-img]{
    width: 100%;
    height: auto;
    border-radius: 12px;

}

.project-name{
    font-size: 20px;
    font-weight: bold;
}

.project-description{
    font-size: 16px;
    line-height: 1.7;
    text-align: justify;
}

.project-card > mat-card-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    width: 92%;
    padding: 0 15px 20px 15px;
}

.project-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-content:space-evenly;
    padding: 16px;
    gap: 10px;
    width: 100%;
}

.technology-icon {
    width: 24px;
    height: 24px;
    border-radius: 0px !important;

}

.project-links{
    max-width: 45px;
    max-height: 455px;
    border-radius: 0px !important;

}

@media screen and (max-width: 768px) {

    .projects-section{
        margin-top:-10px;
    }

    .project-card {
            min-width: 100%;
            max-width: 100%;
            height: auto;        
        }

    .project-card > mat-card-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 85%;
        padding: 0 15px 20px 15px;
    }

    .project-footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;   
        padding: 6px;
        justify-content: center;
    }

    .technology-icon {
        width: 20px;
        height: 20px;        

    }
}